
.App__right ul {
  height: 70rem;
  overflow: auto;
  box-sizing: content-box;
  padding: 2rem;
}

.App__right ul li {
  height: 15rem;
  display: flex;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 2rem;
  overflow: hidden;
  display: flex;
  padding: 2rem 4rem;
}
.App__right ul li:not(:last-child) {
  margin-bottom: 3rem;
}
.App__right ul li a {
    align-items: center;
    display: flex;
}

.App__right ul li a > *:not(:last-child) {
    font-size:1.6rem;
    margin: 0 6rem 0 0;
}

.App__right ul li img {
    border-radius: 1rem;
}
